<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://gestccon.com.br:3306/sistema?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">brasil1602</property>
    <property name="hibernate.bytecode.use_reflection_optimizer">true</property>
    <mapping resource="vo/Pessoa.hbm.xml"/>
    <mapping resource="vo/Ambiente.hbm.xml"/>
    <mapping resource="vo/Empresa.hbm.xml"/>
    <mapping resource="vo/Nivel.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
